.cart-icon-link{
  position: relative;
}

#cart-icon {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 50%;
  margin-left: 16px;
}

#mini-cart-total{
  background-color: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute !important;
  top: -10px;
  right: -6px;
}

.store-pd-container {
  padding: 16px 0;
  row-gap: 16px;
  background-color: rgb(255, 255, 255);
}

.product-card {
  overflow: hidden;
}

.product-card .img-container {
  height: 300px;
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  padding: 10px 0;
}

.product-card .img-container img {
  height: 100%;
}

.product h6 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box-element {
  margin-top: 20px !important;
  box-shadow: #00000066 0 0 10px;
  padding: 10px;
}

.payment-element{
  box-shadow: #00000066 0 0 10px;
  padding: 10px;
}

.cart-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  column-gap: 16px;
}

.cart-row div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd-image {
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.row-image {
  height: 100px;
}

.cart-pd-name p {
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.qty{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
}

.qty p{
  margin-bottom: 0 !important;
}

.form-field {
  margin: 10px 0;
}

.btn-block {
  width: 100%;
}

.hidden{
  display: none;
}
