{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row store-pd-container">
    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt1.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt2.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>


    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>

    <div class="col-lg-4 product-card">
        <div class="img-container">
            <img class="thumbnail" src="{% static 'images/products/shirt3.png' %}">
        </div>

        <div class="product box-element">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a href="#" class="btn btn-outline-success">View</a>
            <h4 style="display: inline-block; float: right;">$20</h4>
        </div>
    </div>
</div>

{% endblock content %}
<!-- <img src="{% static 'images/cart.png' %}" /> -->